body {
  background: #242323;
  color: #fff;
  width: 100vw;
  height: calc(100vh - 32px);
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  min-width: 1024px !important;
}

::-webkit-scrollbar {
  height: 12px;
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: #575555;
  -webkit-border-radius: 1ex;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
  background: #000;
}

.notAllowed {
  pointer-events: auto ! important;
  cursor: not-allowed ! important;
}

div.panels {
  float: left;
  //border: solid 1px #292929;
  height: calc(100% - 120px);

  span {
    &.info {
      color: #888888;
      font-size: 10px;
      font-family: arial, sans-serif;
    }

    &#phpFileInfoName {
      color: #1bba37;
    }

    &#phpFileInfoPath {
      color: #888888;
    }
  }

  .CodeMirrorParent,
  .CodeMirror {
    height: 100%;
  }

  &.left {
    width: 50%;
    //margin-right: 5px;
    //padding: 10px;

    .CodeMirrorParent,
    .CodeMirror {
      height: 60%;
    }
  }

  //&.center {
  //  width: 15%;
  //  //margin-right: 5px;
  //  //padding: 10px;
  //}

  &.right {
    width: 50%;
    opacity: 0.7;
    height: calc(100% - 142px);
    //padding: 10px;

    #fileHeader {
      background: #575555;
      padding: 10px;
      margin-left: 48px;
      border-radius: 8px 0px 0px 8px;
    }
  }
}

#bottom {
  font-family: monospace;
  font-size: 10px;
  float: left;
  height: 120px;
  padding: 10px;
  width: 100%;

  ::selection {
    background-color: #4EC6DE;
  }

  .tabbed {
    width: 100%;
    margin: 0px auto;
  }

  .tabbed > input {
    display: none;
  }

  .tabbed > label {
    display: block;
    float: left;
    padding: 2px 6px;
    margin-right: 5px;
    cursor: pointer;
    transition: background-color .3s;
  }

  .tabbed > label:hover,
  .tabbed > input:checked + label {
    background: #3e3e3e;
  }

  .tabs {
    clear: both;
    perspective: 600px;
  }

  .tabs > div {
    width: 100%;
    position: absolute;
    border: 2px solid #3e3e3e;
    padding: 10px;
    line-height: 1.4em;
    opacity: 0;
    transform: rotateX(-20deg);
    transform-origin: top center;
    //transition: opacity .3s, transform 1s;
    z-index: 0;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 90px;
    width: calc(100vw - 46px);
  }

  #tab-nav-1:checked ~ .tabs > div:nth-of-type(1),
  #tab-nav-2:checked ~ .tabs > div:nth-of-type(2),
  #tab-nav-3:checked ~ .tabs > div:nth-of-type(3),
  #tab-nav-4:checked ~ .tabs > div:nth-of-type(4) {
    transform: rotateX(0);
    opacity: 1;
    z-index: 1;
  }

  @media screen and (max-width: 700px) {
    .tabbed {
      width: 400px
    }
    .tabbed > label {
      display: none
    }
    .tabs > div {
      width: 400px;
      border: none;
      padding: 0;
      opacity: 1;
      position: relative;
      transform: none;
      margin-bottom: 60px;
    }
    .tabs > div h2 {
      border-bottom: 2px solid #3e3e3e;
      padding-bottom: .5em;
    }
  }

  #logs {
    span {
      font-size: 10px;

      &[type="error"] {
        color: #ff7171;
      }

      b {
        font-size: 13px;
      }

      bg {
        font-size: 13px;
        color: #1bba37;
      }
    }
  }

  a {
    color: #fff;
  }
}

.CodeMirror-gutters,
.CodeMirror-gutter,
.cm-s-monokai.CodeMirror {
  background: transparent !important;
}

.CodeMirror-vscrollbar,
.CodeMirror-hscrollbar {
  cursor: pointer;
}